@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:700');
html, body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  background: url('https://media.giphy.com/media/2SM2lnIDGqZj2/giphy.gif');
  background-size: cover;
  background-position: center;
}
.page-header{
  font-family: Josefin sans, sans-serif;;
  text-transform: uppercase;
  text-align: center;
  border: 0.25em solid #fff;
  padding: 1em;
  color: #fff;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
a {
  color: #fff;
}
a:hover{
  color:#fff;
}

hr {
  width: 3em;
  border: 0.05em solid #fff;
}
